* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    overflow-x: hidden;
}
 
.mode{
    /* height: 100vh; */
    /* background: rgb(199, 199, 199); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
     
 } 
svg{
    cursor: pointer;

}

a {
    text-decoration: none;
}

p {
    color: #c5c6c7;
}

/* Navbar */

#title {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: right;
}

.navbar {
    padding: 0.25 0.25 4.5rem;
    margin: 0 4rem;
}

.navbar ul li {
    padding: 0 10px;
}

.logo {
    font-family: 'Ubuntu', "sans-serif";
    font-weight: 700;
    color: #fff;
}

.big-heading {
    font-weight: lighter;
    padding-top: 200px;
    padding-left: 600px;
    padding-right: 100px;
}

.tagline {
    padding-right: 100px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.hire-us-button {
    margin-right: 100px;
}

.container-fluid {
    padding: 0;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2rem;
}


/* Services Section */

#services {
    text-align: center;
}

#services h1 {
    font-family: "Ubuntu";
    font-weight: 800;
    margin-bottom: 2rem;
    color: #08838a;
}

.services-image {
    margin-top: 1.5rem;
    width: 8%;
    align-items: center;
    padding-bottom: 1rem;
}

.cards {
    margin: 2rem 3rem 5rem;
    text-align: center;
}

.card-text {
    line-height: 1.5rem;
}

.card-image {
    width: 40%;
    margin-left: 7rem;
}

.hero {
    text-decoration: overline black;
}


.section-header {
    text-align: center;
    color: #08838a;
    font-family: "Ubuntu", "Sans Serrif";
    font-weight: 800;
}

.icon {
    width: 8%;
}


/* Our Team Section */

.team-info {
    margin: 0;
    padding: 0;
    text-align: center;
}

.team-picture {
    border-radius: 50%;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.team-picture:hover {
    transform: rotateY(-10deg);
}

#our-team {
    margin-top: 1.5rem;
    font-family: "Montserrat";
}

#our-team p{
    color: #c5c6c7;
    font-family: "Montserrat";
}

#our-team h1 {
    font-weight: 800;
}


/* Portfolio Section */

#portfolio h1 {
    font-weight: 800;
}

.portfolio-image {
    width: 100%;
    height: 100%;
    padding: 2.5rem 0;
    margin: 1rem 0;
}


/* Contact Us Section */

.contact {
    margin-top: 2rem;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    color:#fff;
}

.contact .content p {
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #00bcd4;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span
.contactForm .inputBox textarea:focus ~ span, 
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


/* Footer Section */

#footer {
    text-align: center;
    background-color: black;
    overflow: hidden;
    padding: 5% 10%;
}

.social-icon {
    margin: 16px 12px;
}


@media (max-width:900px) {
    .navbar {
        padding: 0 0;
        margin-left: 1rem;
        margin-right: 0;
    }
    .big-heading {
        font-weight: lighter;
        text-align: center;
        padding-top: 10rem;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
    }
    .hire-us-button {
        margin: 0 7.5rem;
        text-align: center;
    }
    .menu-btn {
        text-align: center;
        margin-right: 2rem;
    }
    #services {
        text-align: center;
    }
    .cards {
        margin: 2rem auto;
    }
    .tagline {
        text-align: center;
        margin: 1.5rem auto;
        padding: 0%;
    }

    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo {
        margin-bottom: 50px;
    }
    .container .contactInfo, .contactForm {
        width: 100%;
    }
}
