
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soft Solutions - Professional Web And Programming Solutions</title>

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Stylesheets -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />

    <!--Bootstrap Scripts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>

    <!--Font Awesome-->
    <script
      src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
      data-auto-replace-svg="nest"
    ></script>

    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
  </head>
  <body>
    <section id="title">
      <div class="container-fluid">
        <!-- Nav Bar -->

        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="logo navbar-brand" href="index.html">Soft Solutions</a>
          <button
            class="menu-btn navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#services">SERVICES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolio">PORTFOLIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#our-team">OUR TEAM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact-us">CONTACT US</a>
              </li>
              <li></li>
            </ul>
          </div>
        </nav>
      </div>

      <!-- Title -->
      <div>
        <div class="heading">
          <h1 class="big-heading">
            High-level software engineers for web and programming solutions
          </h1>
          <p class="tagline">STRENGTHNING YOUR WEB CONNECTIONS</p>
        </div>
        <svg
          id="darkmode"
          width="50"
          height="50"
          viewBox="0 0 55 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="sun"
            d="M55 28C55 43.464 42.6878 56 27.5 56C12.3122 56 0 43.464 0 28C0 12.536 12.3122 0 27.5 0C42.6878 0 55 12.536 55 28Z"
            fill="#FAFF00"
          />
        </svg>

        <button
          type="button"
          class="hire-us-button btn btn-lg btn-outline-light"
        >
          HIRE US ON UPWORK
        </button>
      </div>
    </section>
    <section id="services">
      <!-- Services -->
      <div class="section-header">
        <img class="services-image" src="images/services.png" />
        <h1 class="hero">SERVICES</h1>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card cards" style="width: 23rem">
            <img
              src="images/web-development.png"
              class="card-img-top card-image"
              alt=""
            />
            <div class="card-body">
              <h1>WEB DEVELOPMENT</h1>
              <p class="card-text">
                From simple one-pagers to big e-commerce websites. We use
                individual approach to build Wordpress websites. Find out how we
                can get you flying with a high quality build powered by
                Wordpress CMS. <br /><br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card cards" style="width: 23rem">
            <img
              src="images/web-design.jpg"
              class="card-img-top card-image"
              alt=""
            />
            <div class="card-body">
              <h1>WEB DESIGN</h1>
              <p class="card-text">
                <br /><br />
                Stand out from your competitors with custom unique design,
                bespoke illustrations & logos. We dig deep, study your
                competitors & the market, do the trend research to provide you
                with the designs that hit the goal and make visitors into
                customers. <br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card cards" style="width: 23rem">
            <img
              src="images/server-administration.png"
              class="card-img-top card-image"
              alt=""
            />
            <div class="card-body">
              <h1>SERVER ADMINISTRATION</h1>
              <p class="card-text">
                We can install, configure, and maintain your servers. We take
                care of complex server administration tasks such as backup
                restoration, server migration, issue troubleshooting, service
                optimization, and more.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="portfolio">
      <!-- Portfolio -->
      <div class="section-header">
        <img class="icon" src="images/portfolio.png" />
        <h1 class="hero">PORTFOLIO</h1>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img class="portfolio-image" src="images/tindogg.png" alt="" />
        </div>
        <div class="col-lg-4">
          <img class="portfolio-image" src="images/saloon.png" alt="" />
        </div>
        <div class="col-lg-4">
          <img class="portfolio-image" src="images/softsolution.png" alt="" />
        </div>
      </div>
    </section>
    <section id="our-team">
      <!-- Our Team -->
      <div class="section-header">
        <img class="icon" src="images/our-team.png" />
        <h1 class="hero">OUR TEAM</h1>
      </div>
      <div class="team-info">
        <div class="row">
          <div class="col-lg-4">
            <img class="team-picture" src="images/ammar.jpg" alt="" />
            <h3><strong>Muhammad Ammar Abid </strong></h3>
            <p>Founder, CEO</p>
          </div>
          <div class="col-lg-4">
            <img class="team-picture" src="images/mustafa.jpg" alt="" />
            <h3><strong>Mustafa Munir</strong></h3>
            <p>Marketing Manager</p>
          </div>
          <div class="col-lg-4">
            <img class="team-picture" src="images/umar.jpeg" alt="" />
            <h3><strong>Muhammad Umar Abid</strong></h3>
            <p>React Native Developer</p>
          </div>
          <div class="col-lg-4">
            <img class="team-picture" src="images/aaliyan.jpg" alt="" />
            <h3><strong>Muhammad Aaliyan</strong></h3>
            <p>Back-End Developer</p>
          </div>
          <div class="col-lg-4">
            <img class="team-picture" src="images/shayaann.jpg" alt="" />
            <h3><strong>Shayan Jamil</strong></h3>
            <p>Front End Developer</p>
          </div>
          <div class="col-lg-4">
            <img class="team-picture" src="images/raza.jpg" alt="" />
            <h3><strong>Muhammad Raza Abbas</strong></h3>
            <p>MERN Stack Developer</p>
          </div>
          <div class="col-lg-4">
            <img class="team-picture" src="images/rizwan.png" alt="" />
            <h3><strong>Rizwan Ahmed</strong></h3>
            <p>Wordpress Developer</p>
          </div>
          <div class="col-lg-4"></div>
          <div class="col-lg-4 extra">
            <img class="team-picture" src="images/farhan.jpg" alt="" />
            <h3><strong>Farhan Shakil</strong></h3>
            <p>Back-End Developer</p>
          </div>
        </div>
      </div>
    </section>
    <section class="contact" id="contact-us">
      <!-- Contact Us -->
      <div class="content">
        <h2>Contact Us</h2>
        <p>If you have any queries feel free to get in touch with us.</p>
      </div>
      <div class="container">
        <div class="contactInfo">
          <div class="box">
            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
            <div class="text">
              <h3>Address</h3>
              <p>Karachi, Pakistan</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"><i class="fas fa-phone-volume"></i></div>
            <div class="text">
              <h3>Phone</h3>
              <p>+92 310-2859246</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"><i class="far fa-envelope"></i></div>
            <div class="text">
              <a href="mailto:softsolutions.official@gmail.com"><h3>Email</h3></a> 
              <p>softsolutions.official@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="contactForm">
          <form method="POST">
            <h2>Send Message</h2>
            <div class="inputBox">
              <input type="text" name="namefield" required="required" />
              <span>Full Name</span>
            </div>
            <div class="inputBox">
              <input type="text" name="emailfield" required="required" />
              <span>Email</span>
              <div class="inputBox">
                <input type="text" name="messagefield" required="required" />
                <span>Your Message</span>
              </div>
              <div class="inputBox">
                <input type="submit" value="Send" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section id="footer">
      <!-- Footer -->

      <!-- <a href=> <i class="social-icon fab fa-twitter"></i> </a> -->
      <a href="https://www.linkedin.com/in/soft-solutions-417b32213/"> <i class="social-icon fab fa-linkedin-in"></i> </a>
      <a href="https://www.instagram.com/softsolution01/"> <i class="social-icon fab fa-instagram"></i> </a>
      <a href="mailto:softsolutions.official@gmail.com"> <i class="social-icon fas fa-envelope"></i> </a>

      <p>© SoftSolutions 2021 All rights reserved.</p>
    </section>


    <script src="/js/anime.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
 



</body>
</html>

